/* navigation.css */

.navigation {
    background-color: #333;
    padding: 10px 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

.left {
    flex: 1; /* Take up remaining space */
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin-left: 100px;
    display: inline-flex;
    justify-content: center; /* Center the navigation links */
}

.nav-links ul li {
    margin-right: 20px;
}

.nav-links ul li:last-child {
    margin-right: 0;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #f00;
}

.right {
    flex: 1; /* Take up remaining space */
    text-align: right; /* Align content to the right */
}

.right a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.right a:hover {
    color: #f00;
}
